@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Bright-red: hsl(12, 88%, 59%);
    --Dark-blue: hsl(228, 39%, 23%);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
body{
    margin: 0 auto;
    font-family: Be Vietnam;
}
h1, h2, p{
    margin: 0;
    padding: 0;
}
#header{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
#navbar{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu li{
    list-style: none;
    display: inline;
    margin-left: 20px;
}
#menu li a{
    text-decoration: none;
    color: var(--Dark-blue);
    font-size: 16px;
    font-weight: 500;
}
#menu li a:hover{
    color: var(--Dark-Grayish-Blue);
}
#get-started-btn{
    border-radius: 50px;
    background-color: var(--Bright-red);
    color: #fff;
    padding: 0.9rem 1.8rem;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 5px 10px var(--Bright-red);  
}
#get-started-btn:hover{
    opacity: 0.75;
}
#intro{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#intro_text h1{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--Dark-blue)
}
#intro_text p{
    margin-top: 2.8rem;
    margin-bottom: 3rem;
    font-size: 16px;
    font-weight: 400;
    color: var(--Dark-Grayish-Blue);
    width: 350px;
}
#difference{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
}
#difference_qns h1{
    color: var(--Dark-blue);
    line-height: 2.5rem;
    font-weight: 800;
}
#difference_qns p{
    color: var(--Dark-Grayish-Blue);
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    margin-top: 1.5rem;
}
#difference_list{
    width: 580px;
    margin-left: 2rem;
}
#difference_list ul{
    counter-reset: my-counter;
}
#difference_list ul li{
    position: relative;
    counter-increment: my-counter;
    list-style: none;
}
#difference_list ul li::before{
    content: "0" counter(my-counter);
    background-color: var(--Bright-red);
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    position: absolute;
    padding: 0.75rem 1.8rem;
    top: -10px;
    left: -40px;
    transform: translateX(-100%); 
}
#difference_list ul li{
    margin-left: 110px;
}
#difference_list ul li h3{
    font-weight: 700;
    color: var(--Dark-blue);
    margin-bottom: 0.8rem;
}
#difference_list ul li p{
    font-size: 16px;
    font-weight: 400;
    color: var(--Dark-Grayish-Blue);
    text-align: left ;
}
#difference_list ul li:not(:last-child){
    margin-bottom: 3rem;
}
#testimonials{
    margin-top: 3.5rem;
    margin-bottom: 11rem;
    display: block;
    align-items: center;
}
#testimonials_title{
    text-align: center;
    color: var(--Dark-blue);
    font-weight: 700;
}
.gallery{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.flickity-page-dots .dot{
    opacity: 1;
    background: transparent;
    border: 2px solid var(--Bright-red);
}
.flickity-page-dots .dot.is-selected {
    background: var(--Bright-red);
  }
#card{
    width: 33%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2.5rem;
    margin-top: 3rem;
    margin-right: 2rem;
    height: 230px;
    background-color: var(--Very-Light-Gray);
    text-align: center;
}
#avatar{
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
}
#card h3{
    color: var(--Dark-blue);
    font-weight: 700;
    margin-bottom: 1rem;
}
#card p{
    color: var(--Dark-Grayish-Blue);
}
#center-btn{
    display: flex;
    justify-content: center;
}
#orange{
    background-color: var(--Bright-red);
    background-image: url(/assets/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
}
#simplify{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#get-started-btn-white{
    border-radius: 50px;
    background-color: #fff;
    color: var(--Bright-red);
    padding: 0.9rem 1.8rem;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
#get-started-btn-white:hover{
    opacity: 0.75;
}
#simplify h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}
#footer{
    background: var(--Very-Dark-Blue);
}
#footer-elements{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: space-between;
}
#social{
    margin-top: 5rem;
}
.fab{
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 10px;
}
.fab:hover{
    color: var(--Bright-red);
}
#nav-links ul li{
    list-style: none;
    margin-bottom: 0.8rem;
}
#nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;

}
#nav-links ul li a:hover{
    color: var(--Bright-red);
}
form{
    display: inline-block;
}
#email-input{
    outline: none;
    height: 2.5rem;
    border-radius: 50px;
    padding-left: 20px;
    border-style: none;
    font-size: 16px;
    color: var(--Bright-red);
}
#go-btn{
    outline: none;
    border-style: none;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: var(--Bright-red);
    padding: 0.6rem 1.4rem;
    border-radius: 50px;   
    cursor: pointer;
}
#go-btn:hover{
    opacity: 0.75;
}
#newsletter p{
    color: var(--Very-Light-Gray);
    font-size: 12px;
    text-align: right;
    margin-top: 4.5rem;
    opacity: 0.75;
}
